<div class="container">
  <h1>Sign Up for our newsletter!</h1>

  <fieldset>
    <legend>Sign Up</legend>
    <form name='regForm' novalidate>

      <input style="color: #000000;" type="text" name="firstname" placeholder="First Name"
        ng-model="reg.user.firstname"
        required
        minlength="1"
        ng-maxlength="20">
        <span
          ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
          First Name must be at least 1 character long
        </span>
        <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
          First Name must not be longer than 20 characters
        </span>
        <br>

        <input style="color: #000000;" type="text" name="lastname" placeholder="Last Name"
          ng-model="reg.user.lastname"
          required
          minlength="1"
          ng-maxlength="20">
          <span
            ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
            Last Name must be at least 1 character long
          </span>
          <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
            Last Name must not be longer than 20 characters
          </span>
          <br>

      <input style="color: #000000;" type="email" name="email" placeholder="Email"
        ng-model="reg.user.email"
        required>
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">
          Must be a valid email address: handle@domain format
        </span>
        <br>

      <input style="color: #000000;" type="text" name="phone" placeholder="Phone ###-###-####"
        ng-model="reg.user.phone"
        pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
          Phone must be in the format ###-###-####.
        </span>
        <br>

      <input style="color: #000000;" type="text" name="favorite" placeholder="Your favorite dish?"
        ng-model="reg.user.favorite">
        <br>

      <button
        style="color: #000000;"
        ng-disabled="regForm.$invalid"
        ng-click="reg.submit()">Submit</button>
        <div id="info" ng-if="reg.invalidFavorite">
          No such menu number exists
        </div>
    </form>
  </fieldset>

  <div id="info" ng-if="reg.completed">
    Your information has been saved.
  </div>
</div>
